/* NavBAr */
#navbar_nav {
    background-color: #407BFF !important;
}

.nav-link {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    color: #fff !important;
}

.nav-link:hover {
    color: #ffffff !important;
    border: 1px solid #ffffff;
    border-radius: 5px;
}

.svg_q {
    position: relative;
    width: 400px;
    float: right;
    top: 180px;
    right: 100px;
}

.row {
    position: relative;
    top: 200px;
    left: 350px;

}

input {
    width: 350px;
}

button {
    width: 150px;
}

h1 {
    text-align: center;
    position: relative;
    top: 50px;
    color: #407BFF;
}

@media(min-width: 1500px) {
    .row {
        position: relative;
        top: 90px;
        left: 350px;
    
    }

    .svg_q {
        position: relative;
        width: 450px;
        float: right;
        top: 20px;
        right: 100px;
    }
}